<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/Middleware</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="current_session_context_class">thread</property>
        <mapping class="com.sinnowa.entity.DsLisoutputEntity"/>
        <mapping class="com.sinnowa.entity.PlLisoutputEntity"/>
        <mapping class="com.sinnowa.entity.DeviceinfoEntity"/>
        <!--
        <mapping class="com.sinnowa.entity.DS"/>
        <mapping class="com.sinnowa.entity.PL"/>
        <mapping resource="com/sinnowa/entity/DsLisoutputEntity.hbm.xml"/>
        <mapping resource="com/sinnowa/entity/PlLisoutputEntity.hbm.xml"/>-->

    </session-factory>
</hibernate-configuration>